{% extends 'layouts/base.html' %}



{% block body %}
<div dash-main-container>
    {% block navbar_dashboard_profile%}
    {% include 'layouts/navbar_index.html' %} 
    {% endblock %}

    <div>
        <div class="generated-list-container">
            <div class="searchbar-container">
                <div class="search-button-dashboard">
                    <div class="searchbar-dashboard">
                        <input type="text" id="searchInput" placeholder="Search Alt-Text..">
                    </div>
                    <div class="searchbutton-dashboard">
                        <button id="searchButton" onclick="searchTable()">Search</button>
                    </div>
                    <div class="refresh-dashboard">
                        <button onclick="location.reload()">Refresh</button>
                    </div>
                </div>

            </div>

            <table id="dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="selected-dashboard">
                                Selected: 0
                            </div>
                        </th>
                        <th colspan="5"></th>
                        <th>
                            <div  class="delete-button">
                                <button>Delete</button>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th> 
                            <div class="dashboard-checkbox">
                                <input type="checkbox" name="select-all" value="select-all">
                            </div>
                        </th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Account Status</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in registered_users%}
                    <tr>
                        <td class="label-checkbox">
                            <div class="dashboard-id">
                                {{loop.index + ((curr_page - 1) * page_size)}}
                            </div>
                            <div class="dashboard-checkbox">
                                <input type="checkbox" class="select-row" name="select-row" value="{{user.id}}">
                            </div>
                        </td>
                        <td>
                            {{user.username}}
                        </td>
                        <td>
                            {{user.first_name}}
                        </td>
                        <td>
                            {{user.last_name}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            {% if not user.disabled %}
                                Active
                            {% else %}
                                Disabled
                            {% endif %}
                        </td>
                        <td>
                            {{user.role}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page-list">
                {% for i in range(total_pages) %}
                    {% if i + 1 == curr_page%}
                    <p class="curr-page">
                        <a href="{{ url_for('admin_dashboard')}}?page={{i+1}}&page_size={{page_size}}">{{i+1}}</a>
                    </p>
                    {% else %}
                    <p class="other-page">
                        <a href="{{ url_for('admin_dashboard')}}?page={{i+1}}&page_size={{page_size}}">{{i+1}}</a>
                    </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', path='dashboard.js') }}" defer></script>
{% endblock %}