{% extends 'layouts/base.html' %}



{% block body %}

{% block navbar2%}
{% include 'layouts/navbar2.html' %} 
{% endblock %}
<div class="generated-list-container">
    <table>
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th colspan="2">Model Output</th>
                <th colspan="2">User Edits</th>
                <th colspan="2">Generators</th>
            </tr>
            <tr>
                <th>Image Caption</th>
                <th>Alt-Text</th>
                <th>Image Caption</th>
                <th>Alt-Text</th>
                <th>Image Generator</th>
                <th>Text Generator</th>
            </tr>
        </thead>
        <tbody>
            {% for img, alt in generation_history %}
            <tr>
                <td>
                    {{img.id}}
                </td>
                <td class="caption-table">
                    {{img.caption}}
                </td>
                <td class="alt-table">
                    {{alt.alt}}
                </td>
                <td>
                    {{img.caption_edit}}
                </td>
                <td>
                    {{alt.alt_edit}}
                </td>
                <td>
                    {{img.caption_gen}}
                </td>
                <td>
                    {{alt.alt_gen}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if role == 'admin' %}
    <div class="generated-list-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Account Status</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        {{loop.index}}
                    </td>
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.first_name}}
                    </td>
                    <td>
                        {{user.last_name}}
                    </td>
                    <td>
                        {{user.role}}
                    </td>
                    <td>
                        {% if user.disabled == False %} 
                            Active
                        {% else %}
                            Deactivated
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<script src="{{ url_for('static', path='dashboard.js') }}" defer></script>
{% endblock %}