{% extends 'layouts/base.html' %}



{% block body %}

<div dash-main-container>
    {% block navbar_dashboard_profile%}
    {% include 'layouts/navbar_index.html' %} 
    {% endblock %}

    <div>
        <div class="generated-list-container">
            <div class="searchbar-container">


                <div class="search-button-dashboard">
                    <div class="searchbar-dashboard">
                        <input type="text" id="searchInput" placeholder="Search Alt-Text..">
                    </div>
                    <div class="searchbutton-dashboard">
                        <button id="searchButton" onclick="searchTable()">Search</button>
                    </div>
                    <div class="refresh-dashboard">
                        <button onclick="location.reload()">Refresh</button>
                    </div>
                </div>


                <div class="dashboard-dropdown">
                    <label for="dashboard-dropdown"></label>
                    <select id="dashboard-dropdown" name="dashboard-dropdown" value="{{page_size}}">
                        <option {% if page_size == 5 %}selected{% endif %} value="5">5</option>
                        <option {% if page_size == 10 %}selected{% endif %} value="10">10</option>
                        <option {% if page_size == 15 %}selected{% endif %} value="15">15</option>
                        <option {% if page_size == 20 %}selected{% endif %} value="20">20</option>
                    </select>
                </div>
            </div>

            <table id="dataTable">
                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="selected-dashboard">
                                <p>Selected Items:</p>
                                <p id="select-track">0</p>
                            </div>
                        </th>
                        <th colspan="6"></th>
                        <th>
                            <form id="delete-form" name="delete-form" method="POST">
                                <div  class="delete-button">
                                    <button type="submit">Delete</button>
                                </div>
                                <input type="hidden" id="selected-items" name="selected_items" value="">
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3" class="model-output">Model Output</th>
                        <th></th>
                        <th colspan="2" class="user-edits">User Edits</th>
                        <th colspan="2">Generators</th>

                    </tr>
                    <tr class="lower-th">
                        <th> 
                            <div class="dashboard-checkbox">
                                <input type="checkbox" class="select-all" name="select-all" value="select-all">
                            </div>
                        </th>
                        <th>Image Caption</th>
                        <th></th>
                        <th>Alt-Text</th>
                        <th></th>
                        <th>Image Caption</th>
                        <th>Alt-Text</th>
                        <th>Image</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                    {% for img, alt in generation_history %}
                    <tr>
                        <td class="label-checkbox">
                            <div class="dashboard-id">
                                {{loop.index + ((curr_page - 1) * page_size)}}
                            </div>
                            <div class="dashboard-checkbox">
                                <input type="checkbox" class="select-item" name="select-item" value="{{img.id}}">
                            </div>
                        </td>
                        <td class="caption-table">
                            <div class="dashboard-outputs">
                                <div class="dash-image-caption">
                                    {{img.caption}}
                                </div>
                            </div>

                        </td>

                        <td>
                            <div>
                                <div class="icon2-alt-dashboard">
                                    <button class="copy-caption" type="button">
                                        <img src="../../static/images/copy.png" width="20px" height="auto">
                                    </button>
                                </div> 
                            </div>
                        </td>

                        <td class="alt-table">
                            <div class="dashboard-outputs">
                                <div class="dash-alt-text">
                                    {{alt.alt}}
                                </div>

                            </div>
                        </td>
                        <td>
                            
                            <div>
                                <div class="icon2-alt-dashboard">
                                    <button class="copy-alt" type="button">
                                        <img src="../../static/images/copy.png" width="20px" height="auto">
                                    </button>
                                </div> 
                            </div>
                        </td>
                        <td>
                            {{img.caption_edit}}
                        </td>
                        <td>
                            <div class="user-alt-text">
                                {{alt.alt_edit}}
                            </div>

                        </td>
                        <td>
                            <div class="image-generator">
                                {{img.caption_gen}}
                            </div>

                        </td>


                        <td>
                            {{alt.alt_gen}}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page-list">
                {% for i in range(total_pages) %}
                    {% if i + 1 == curr_page%}
                    <p class="curr-page">
                        <a href="{{ url_for('user_dashboard')}}?page={{i+1}}&page_size={{page_size}}">{{i+1}}</a>
                    </p>
                    {% else %}
                    <p class="other-page">
                        <a href="{{ url_for('user_dashboard')}}?page={{i+1}}&page_size={{page_size}}">{{i+1}}</a>
                    </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', path='dashboard.js') }}" defer></script>
{% endblock %}