{% extends 'layouts/base.html' %}
{% block body %}

    <!-- Homepage -->
    <section id="home">
        <div class="bg">

            {% block navbar%}
            {% include 'layouts/navbar.html' %} 
            {% endblock %}

            <div class="maintitle">
                <h1>Contextual Alt-Text</h1>
            </div>

            <div class="container">
                <a href="auth/signup">
                    <div class="getstarted">
                    Sign up!
                    </div>
                </a>
                <div class="remarks">
                    Enhancing contextuality of alt-text, <br>
                    Better context is better quality.
                </div>
            </div>
            
            <!-- <div class="mouse">
                Scroll Down!
                <img src="mouse.png">
            </div> -->
        </div>
    </section>
    <!-- Homepage -->
    <!-- Generate -->
    <section id="generate">
        <div class="inputcontainer">
            <div class="center_form">
                <div class="generator-container">
                    <form id="upload-article">
                        <div class="upimgcover">
                            <div class="uploadimage" id="imagebox">
                                <img id="output">
                            </div>
                        </div>
                    
                        <div class="uploadbutton">
                            <div>
                                <label for="getimage" class="file-input-label">Upload Image</label>
                                <input type="file" id="getimage" name="img" accept="image/*" class="upimage" onchange="loadFile(event)">
                            </div>
                            <div class="model-options">
                                <select id="nlp" name="nlp" class="nlp">
                                    {% for model in nlp.values() %}
                                        <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                </select>
                                <select id="cv" name="cv" class="cv">
                                    {% for model in cv.values() %}
                                        <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>    

                        <div class="imgcap_alt">
                            <div class="results-container">
                                <div class="alt-title">
                                    <div>
                                        Generated Alt-Text: 
                                    </div>

                                    <div class="savecopy-btn">
                                        <div class="icon1">
                                            <button id="save-alt" type="button">
                                            <img src="../../static/images/save.png" width="20px" height="auto">
                                            </button>
                                        </div>

                                        <div class="icon2">
                                            <button id="copy-alt" type="button">
                                            <img src="../../static/images/copy.png" width="25px" height="auto">
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="results">
                                    <input textarea id="getalttext"></input>
                                </div>
                            </div>
    
                            <div class="imagecap-container">
                                <div class="imagecap-title">
                                    <div>
                                        Image Caption:
                                    </div>

                                    <div class="savecopy-btn">
                                        <div class="icon1">
                                            <button id="save-caption" type="button">
                                            <img src="../../static/images/save.png" width="20px" height="auto">
                                            </button>
                                        </div>

                                        <div class="icon2">
                                            <button id="copy-caption" type="button">
                                            <img src="../../static/images/copy.png" width="25px" height="auto">
                                            </button>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="results">
                                    <input id="getcaption"></input>
                                </div>
                            </div>
                        </div>
                        
        
                        <div class="uploadtext">
                            <label for="gettext"></label>
                            <textarea id="gettext" name="text" placeholder="Enter Article Here"></textarea>
                        </div>
                        
                        <div class="button_center">
                            <button class="alt-button" type="submit" id="generate_btn">Generate Alt-Text</button>
                        </div>
                    </form>
                </div>   
            </div>
        </div>    
    </section>
    <!-- Generate -->
    <!-- Info -->
    <section id="info"> 
    <div class="infocontainer">
        <div class="info1">
            <div>
                <h1>What is an alt-text?</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <div class="info2">
            <div>
                <h1>What is contextual alt-text?</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>  
    </div>
    </section>
 
<script src="{{ url_for('static', path='scripts.js') }}" defer></script>
{% endblock %}