{% extends 'layouts/base.html' %}
{% block body %}

<section>
    {% block navbar_index%}
    {% include 'layouts/navbar_index.html' %} 
    {% endblock %}
</section>
<div class="page-container">
    <div class="signin-header">
        <h2>Sign in to your account</h2>
        <span>or <a href="/auth/signup">Sign up for a free account</a></span>
    </div>
    <div class="mainlog-container">

        <div class="log-container">
            <div class="log-form">
                
                <form id="login-form" class="login-form">
                    <div class="signuser">
                        <label for="">Username</label>
                        <input type="text" placeholder="Username" id="" name="username">               
                    </div>
                    <div class="signuser">
                        <label for="">Password</label>
                        <input type="password" placeholder="Password" id="" name="password"> 
                        
                        <div class="invalid-login">
                            <ul class="no-bullet">
                                <li>Invalid Credentials. Try again.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="forget-remember-container">
                        <div class="remember-checkbox">
                            <div>
                                <input type="checkbox">
                            </div>
                            Remember Me
                        </div>
                        <div><a href="/">Forgot Password?</a></div>
                    </div>
                    <div class="logbutton">
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
        
        </div>

    </div>
</div>


<section>
    <footer class="footer-block">
        <img src="../../static/images/main-icon-white.png">
        <div class="cobalt-footer">
            <h3>Cobalt.ai</h3>
            <div class="footer-subtitle">
                <span>Contextual Alt-Text Generator</span>
            </div>

            
        </div>
        <div class="footer-content">
            <span>© 2024 Cobalt. All rights reserved.</span>
        </div>


    </footer>

</section>

<script src="{{ url_for('static', path='login.js') }}" defer></script>
{% endblock %}