{% extends 'layouts/base.html' %}
{% block body %}
<div class="bg2">

    <div class="header">
        <div class="titlecont">
            <div class="cobalt">Cobalt</div>
            <div class="hsub3">
                <div class="greet">
                    {% if user %}
                        <span>Hi {{first_name_display}}</span>
                    {% else %}
                        <span>Greetings!</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="hgroup1">
            <div class="wspacer">
                <a href="/">Home</a>
            </div>
    
            <div class="wspacer">
                <a>Profile</a>
            </div>

            <div class="wspacer">
                {% if user %}
                    <a href="auth/dashboard">Dashboard</a>
                {% else %}
                    <span>About</span>
                {% endif %}
            </div>
        </div>
        
        <div class="hgroup2">

            <div class="hsub2">
                {% if user and user.username %}
                <div class="login">
                    <a href="auth/logout">Logout</a>
                </div>
                {% else %}
                <div class="login">
                    <a href="auth/login">Login</a>
                </div>
                {% endif %}
                <div>
                   <img src="../../static/images/profile.png" height="35px">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="main-profile">
    <div class="whitebg">
        <div class="profile-editor">
            <h2>Account Settings</h2>
            <!-- <h2 id="profile-username">{{user.username}}</h2> -->
            <form id="profile-form" name="user-profile" method="POST">
                <div class="groupa">
                    <div class="groupa1">
                        <div class="signuser">
                            <label for="username_input">Username:<br>
                                <input type="text" id="username_input" value="{{user.username}}" name="username">
                                    <div class="requirements">
                                        <ul>
                                            <li>At least 6-13 characters long.</li>
                                            <li>No special characters.</li>
                                            <li>No spaces.</li>
                                        </ul>
                                    </div>
                            </label>
                        </div>

                    </div>

                    <div class="groupa2">
                        <div class="signuser">
                            <label for="first_name_input">First name:<br>
                            <input type="text" id="first_name_input" value="{{first_name_display}}" name="first_name">
                                <div class="requirements">
                                    <ul>
                                        <li>Atleast 2-40 characters</li>
                                        <li>No special characters</li>
                                        <li>No Numbers</li>
                                        <li>Must not have leading or trailing spaces.</li>
                                    </ul>
                                </div>   
                            </label>
                        </div>

                    </div>

                </div>
    
                <div class="groupb">
                    <div class="groupb1">
                        <div class="signuser">
                            <label for="last_name_input">Last name:<br>    
                                <input type="text" id="last_name_input" value="{{user.last_name}}" name="last_name">
                                <div class="requirements">
                                    <ul>
                                        <li>At least 2-40 characters long.</li>
                                        <li>No special characters.</li>
                                        <li>No spaces.</li>
                                    </ul>
                                </div>
                            </label> 
                        </div>

                    </div>

                    <div class="groupb2">
                        <div class="signuser">
                            <label for="email_input">Email:<br>
                                <input type="email" id="email_input" value="{{user.email}}" name="email">
                                    <div class="requirements">
                                        <ul>
                                            <li>Must be in order of: characters@characters.domain</li>
                                        </ul>
                                    </div>  
                            </label>
                        </div>

                    </div>

                </div>
    
                <div>
                    <button class="alt-button" type="submit">Submit Changes</button>
                </div>

            </form>
        </div>
    
        <div class="password-editor">
    
            <form id="password-form" name="password-profile" method="POST">
                <div class="groupa1">
                    <div class="signuser">
                        <label for="password_input">Password:<br>
                        <input type="text" id="password_input" name="password">
                            <div class="requirements">
                                <ul>
                                    <li>At least 8 characters</li>
                                    <li>Must contain at least one number</li>
                                    <li>Must contain at least one uppercase character</li>
                                    <li>Must contain at least one lowercase</li>
                                    <li>Must not contain spaces</li>
                                </ul>
                            </div>
                        </label>
                    </div>
                </div>

                <div>
                    <div class="groupb3">
                        <div class="signuser">
                            <label for="conf_password">
                                <input type="text" id="conf_password" name="confirm_password">
                                <div class="requirements">
                                    <ul>
                                        <li>Passwords must match</li>
                                    </ul>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
                <button class="alt-button" type="submit">Change Password</button>


            </form>
        </div>
    </div>
    
</div>




<script src="{{ url_for('static', path='profile.js') }}" defer></script>
{% endblock %}