{% extends 'layouts/base.html' %}
{% block body %}

<div class="signup-container">
    <div>
        <form id="signup-form">
            <div>
                <label for="">Username</label>
                <input type="text" id="username_input" name="username">               
            </div>
            <div>
                <label for="">Full Name</label>
                <input type="text" id="" name="full_name" disabled>               
            </div>
            <div>
                <label for="">Email</label>
                <input type="text" id="email_input" name="email">               
            </div>
            <div>
                <label for="">Password</label>
                <input type="text" id="password_input" name="plain_password">               
            </div>
            <div>
                <label for="">Confirm Password</label>
                <input type="text" id="" name="" disabled>               
            </div>
            <div>
                <button type="submit" id="signup_btn">Sign Up</button>
            </div>
        </form>

        <div>
            <a href="/login">Login Here</a>
        </div>
    </div>
</div>



<script src="{{ url_for('static', path='signup.js') }}" defer></script>
{% endblock %}