{% extends 'layouts/base.html' %}
{% block body %}

    <!-- Homepage -->
    <div class="bg">
        <div class="header">
            <div class="cobalt">
                Cobalt
            </div>
    
            <div class="hgroup1">
                <div class="wspacer">
                    Home
                </div>
        
                <div class="wspacer">
                    Generate
                </div>
        
                <div class="wspacer">
                    About
                </div>
            </div>
            
            <div class="hgroup2">
                <div class="login">
                    Login
                    
                </div>
                <div>
                    <img src="../../static/images/profile.png" height="35px">
                </div>
            </div>
    
        </div>

        <div class="maintitle">
            <h1>Contextual Alt-Text</h1>
        </div>

        <div class="container">
            <div class="getstarted">
                Get Started!
            </div>
            <div class="remarks">
                Enhancing contextuality of alt-text, <br>
                Better context is better quality.
            </div>
        </div>
        
        <!-- <div class="mouse">
            Scroll Down!
            <img src="mouse.png">
        </div> -->
    </div>
    <!-- Homepage -->


    <!-- Info -->
    <div class="infocontainer">
        <div class="info1">
            <div>
                <h1>What is an alt-text?</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <div class="info2">
            <div>
                <h1>What is contextual alt-text?</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>

    <div class="inputcontainer">
        <div class="center_form">
            <form id="upload-article">
                <label for="getimage">Insert image</label>
                <input type="file" id="getimage" name="img">
                <br>
                <br>
        
                <label for="gettext">Insert Article</label>
                <textarea id="gettext" name="text"></textarea>
                <br>
                <br>
        
                <button type="submit" id="generate">Generate Alt-Text</button>
            </form>
        </div>
    </div>

{% endblock %}