{% extends 'layouts/base.html' %}
{% block body %}
<div class="main-container">
    <div class="cobalt">
        <div class="logo">
            <img src="{{ url_for('static', path='images/logo.png')}}">
        </div>
        Cobalt
    </div>

    <div class="group1">
        <div class="home">
            Home
        </div>

        <div class="generate">
            Generate
        </div>

        <div class="about-us">
            About Us
        </div>

        <div class="getstarted">
            <div class="gettxt">
                Get Started! - For free
            </div>
        </div>
    </div>
</div>

<div class="bgmixer">
    <div class="main-title">
        <div class="title">
            CONTEXTUAL <br>
            ALT TEXT GENERATOR
        </div>
        <div class="subtitle">
            Enhancing Contextuality of Alt-Text
        </div>
    </div>
    
    <div class="getstarted2">
        <div class="gettxt2">
            Get Started! - For free            
        </div>
    </div>
    
    <!-- <div class="img-input" id="displayimage">
        <form class="addimg">
            <label for="file-input">
                <img src="{{ url_for('static', path='images/add.png')}}"/>
            </label>
            <input type="file-input" id="image_input"/>
        </form>
    </div>
    
    <div>
        <div class="topdesign">
    
        </div>
        <div class="txt-input">
            <form>
                <textarea>Add your text here. (Limited up to 200 words only)</textarea>
            </form>
        </div>
    </div>
    
    
    <div class="generate-button">
        <div class="generate-button-bg">
            Generate Alt-Text
        </div>
    </div>
</div> -->

<div class="center_form">
    <form id="upload-article">
        <label for="getimage">Insert image</label>
        <input type="file" id="getimage" name="img">
        <br>
        <br>

        <label for="gettext">Insert Article</label>
        <textarea id="gettext" name="text"></textarea>
        <br>
        <br>

        <button type="submit" id="generate">Generate Alt-Text</button>
    </form>
</div>


<div class="spacer">
</div>

<div class="footer">
    <div>Cobalt</div>
    <div>Enhancing Contextuality of Alt-Text</div>
    <div class="terms">Terms & Conditions</div>
</div>
{% endblock %}
