{% extends 'layouts/base.html' %}
{% block body %}

<div class="login-container">
    <div>
        <form method="post">
            <div>
                <label for="">Username</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <label for="">Password</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <button>Login</button>
            </div>
        </form>
    </div>

    <div>
        <a href="/signup">No account? Signup Here</a>
    </div>
</div>




{% endblock %}