{% extends 'layouts/base.html' %}
{% block body %}

<div class="signup-container">
    <div>
        <form method="post">
            <div>
                <label for="">Username</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <label for="">Full Name</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <label for="">Email</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <label for="">Password</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <label for="">Confirm Password</label>
                <input type="text" id="" name="">               
            </div>
            <div>
                <button>Sign Up</button>
            </div>
        </form>

        <div>
            <a href="/login">Login Here</a>
        </div>
    </div>
</div>




{% endblock %}