@font-face {
    font-family: Archivo;
    src: url(../../static/fonts/Archivo.ttf);
}
body{
    font-family: Archivo;
    height: auto;
    margin: 0;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 200px 50px;
    padding-top: 80px;
}

.hgroup1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hgroup2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cobalt{
    font-size: 50px;
    letter-spacing: -4px;
}

.wspacer{
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 0px;
}

.login, .signup{
    letter-spacing: 0px;
    font-size: 35px;
    padding: 10px 10px 10px;
    margin-right: 10px;
}

.maintitle {
    display: block;
    text-align: center;
    font-size: 60px;
    margin-right: 40px;
    margin-top: 150px;
    letter-spacing: -7px;
}

.bg {
    background: url(../../static/images/bg5.jpg) no-repeat;
    background-size: cover;
    height: 900px;
    position:relative;
}

.getstarted {
    font-size: 30px;
    margin-right: 50px;
    background-color: rgb(255, 248, 156);
    padding: 20px 40px 20px;
    border-radius: 40px;
    color: black;
}

.remarks {
    margin-left: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouse{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.mouse img{
    height: 100px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mouse img {
    animation: blink 1.5s;
    animation-iteration-count: infinite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
  background: rgb(255, 255, 255) ;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 162, 99); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.holder{
    margin-left: 200px;
}
.cardcontainer{
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

.infocontainer{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.info1 h1{
    margin-top: 230px;
    margin-left: 300px;
    margin-right: 100px;
    color: black;
    font-size: 45px;
    letter-spacing: -3px;
}

.info1 p{
    margin-right: 100px;
    margin-left: 300px;
    color: rgb(65, 65, 65);
    font-size: 20px;
}

.info2 h1{
    margin-top: 200px;
    margin-right: 300px;
    color: black;
    font-size: 45px;
    letter-spacing: -3px;
}

.info2 p{
    margin-right: 300px;
    color: rgb(65, 65, 65);
    font-size: 20px;
}

.center_form{
    margin-top: 300px;
    color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadimage {
    border: 2px dashed rgb(73, 73, 73);
    padding: 200px 500px 200px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 10px;
}

.uploadimage>input {
    display: none;
}

.uploadimage img {
    object-fit: cover;
}
.uploadtext textarea{
    border: 1px solid rgb(236, 236, 236);
    resize:vertical;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 1000px;
    height: auto;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    field-sizing: content;
}

.center_form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_form form button {
    padding: 10px 20px 10px;
    border-radius: 10px;
    background-color: #fcefa1e0;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Archivo;
    color: rgb(55, 55, 55);
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 700px 150px;
    border: 2px solid black;
    padding: 300px 20px 300px;
    color: black;
}

.login a{
    text-decoration: none;
    color: white;
}

.results-container {
    resize: none;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 1080px;
    height: auto;
    font-size: 18px;
    padding-left: 0px;
    padding-top: 40px;
}

.alt-title {
    color: #aaaaaa;
    font-size: 15px;
}

.results {
    margin-top: 25px;
    font-family: serif;
    font-size: 25px;
}

.imagetake img{
}