
@font-face {
    font-family: Archivo;
    src: url(../../static/fonts/Archivo.ttf);
}

body{
    font-family: "Roboto", sans-serif;
    height: auto;
    margin: 0;
    color: white;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #212530;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}

.top-title {
    color: rgb(45, 45, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    letter-spacing: -2px;
    flex-direction: column;
}

.subtitle {
    letter-spacing: 0px;
    font-size: 20px;
    color: #707070;
    margin-top: -40px;
    font-weight: 400;
}

.top-title h2 {
    font-weight: 900;
}

.under-title-buttons {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
}

.signup-button a{
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px;
    background-color: rgb(68, 125, 230);
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.signup-button {
    margin-top: 7px;
    margin-right: 30px;
}

.signform {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
}
.signform label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebutton-title {
    color: rgb(85, 85, 85);
    width: 350px;
}
.alt-table {
    width: 550px;
}

.caption-table {
    width: 250px;
}

.wspacer a{
    color: #cfcaca;
    text-decoration: none;
    transition: transform .3s ease-in-out, color .3s ease-in-out;
}

.wspacer2 a{
    color: #918f8f;
    text-decoration: none;
    transition: transform .3s ease-in-out, color .3s ease-in-out;
}
.wspacer2 {
    transition: transform .3s ease-in-out, color .3s ease-in-out;
}

.wspacer {
    transition: transform .3s ease-in-out, color .3s ease-in-out;
    color: #cfcaca;
    cursor: pointer;
}

.hgroup1{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40%;

}

.wspacer:hover {
    transform: scale(1.2);
    color: white;
}

.wspacer2:hover {
    transform: scale(1.2);

}

.wspacer a:hover {
    transform: scale(1.2);
    color: white;
}
.wspacer2 a:hover {
    color: rgb(29, 29, 29);
}
.hgroup2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.cobalt{
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 500;
    margin-right: 30px;
}

.wspacer{
    margin-left: 30px;
    font-size: 15px;
    letter-spacing: 0px;
}

.wspacer2 {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 0px;
}

.login, .signup, .login2 a, .logout{
    letter-spacing: 0px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 10px 10px;
    margin-right: 10px;
}


.login2 a{
    text-decoration: none;
    color: #383737;
}

.login2:hover{
    transform: scale(1.1);
}

.login2 {
    transition: transform .5s ease-in-out, color .5s ease-in-out;
}

.maintitle {
    display: block;
    text-align: center;
    font-size: 60px;
    margin-right: 40px;
    margin-top: 200px;
    letter-spacing: -5px;
    line-height: 0.8;
    color: #ffffff;
}

.letC {
    font-size: 150px;
}

.bg2 {
    /* background: url(../../static/images/bg5.jpg) no-repeat; */
    background-size: cover;
    height: 200px;
    position:relative;
    color: #383737;
}

@keyframes slideTopDown {
    0% {
      opacity: 0;
      transform: translateY(-1000px); 
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.getstarted {
    font-size: 30px;
    margin-right: 50px;
    background-color: rgb(240, 233, 139);
    padding: 20px 40px 20px;
    border-radius: 40px;
    color: black;
    transition: transform 0.4s, background-color 0.5s;
}


.getstarted:hover{
    background-color: rgb(247, 236, 90);
    transform: scale(1.1);  
}
.remarks {
    margin-left: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    text-decoration: none;
}





.holder{
    margin-left: 200px;
}
.cardcontainer{
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

.infocontainer{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.bottom-information {
    margin-top: 40px;
    color: rgb(54, 54, 54);


    text-align: center;
}

.ai-intro h2{
    font-weight: 900;
    color: rgb(54, 54, 54);
    letter-spacing: -1px;
    font-size: 35px;
}

.ai-intro {
    margin-bottom: 20px;
}
.ai-sub-intro {
    color: rgb(109, 109, 109);
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    width: 700px;
}

.how-it-works {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}

.image-holder-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.image-holder {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: #2e2d33;
    align-items: center;
    justify-content: center;
}

.image-content {
    margin-right: 100px;
    width: 200px;
    height: 300px;
}

.image-holder-title {
    margin-left: 100px;
    height: 80px;
    width: 400px;
}

.image-holder span {
    font-size: 15px;
    margin: 0;
}

.image-holder img {
    height: 100%;
    display: grid;
    place-items: center;
}

.integrations-container {
    background-color: #383737;
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}
.integrations-row-1 {
    width: 300px;

}
.integrations-container h2 {
    font-size: 23px;
}

.integrations-container span {
    color: #cfcfcf;
    font-size: 13px;
}

.integrations-row-2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.integrations-row-3 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.about-alt-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;


}
.about-alt-child-1 {
    width: 400px;
}

.about-alt-child-2 {
    margin-top: 95px;
    width: 400px;
}
.about-alt-text h2 {
    font-weight: 900;
    font-size: 35px;
    color:#2e2d33;
}

.about-alt-text span {
    color:#6b6b6b;
    font-size: 15px;
}

.matrix-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #2e2d33;
    width: 1100px;
    margin: 100px auto;
}

.matrix-header h2{
    font-size: 30px;
    color: #2e2d33;
    font-weight: 900;
}

.matrix-header {
    margin-bottom: 40px;
}

.matrix-content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.matrix-content-row h3 {
    font-weight: 600;
    font-size: 17px;
}

.matrix-content-row span {
    font-size: 14px;
    font-weight: 400;
}
.matrix-content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-block {
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    bottom: 0;
}

.cobalt-footer {
    margin-right: 1500px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.footer-subtitle {
    margin-top: -23px;
    font-size: 14px;

}

.footer-block img {
    margin-top: 13px;
    width: 40px;
    height: auto;
}
.footer-content {
    position:absolute;
}

.center_form{
    color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upimgcover {
    background-color: #414044;
    width: 500px;
    height: 340px;
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-background {
    background-color: #2e2d33;
    width: 1300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.upimage {
    display: none;
    
}
.file-input-label {
    padding: 3px 10px;
    border-radius: 5px;
    color: #535353;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
}

.upload-button-image {
    width: 25px !important; /* Adjust width */
    height: auto !important; /* Adjust height */
    display: inline-block; /* Ensures it stays inline */
}



#output {
    margin-top: 10px;
    max-width: 100%;
    max-height: 300px;
    display: block;
}
.image-output {
    width: 200px;
    height: 200px;
}
.replacer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.imgcap-results{
    margin-left: -20px;
}

.imgcap_alt button{
    height: 25px;
    font-family: Archivo;
    display: inline-block; 
    background-color: rgb(239, 241, 250);
    padding: 3px 10px; 
    border: 0px; 
    border-radius: 5px;
    color: #707070;
    cursor: pointer;
    font-size: 12px; 
    transition: background-color 0.3s, color 0.3s;
}

.model-options select {
    width: 108px;
    height: 25px;
    display: inline-block; 
    padding: 3px 10px; 
    border: 1px solid #b3b3b3; 
    color: #3a3a3a;
    background-color: rgb(255, 255, 255); 
    cursor: pointer;
    font-size: 12px; 
    transition: background-color 0.3s, color 0.3s;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}






.uploadimage {
    border: 2px dashed rgb(165, 165, 179);
    border-radius: 5px;
    margin: 0 auto;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 10px;

}

.uploadimage img {
    width: auto;
    height: 400px;
}



.uploadtext textarea{
    border: 1px solid rgb(236, 236, 236);
    resize:vertical;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 700px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    field-sizing: content;
    letter-spacing: .5px;
}

.inputcontainer {
    margin-top: 20px;
}

.generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button_center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}
.alt-button {
    text-decoration: none;
    color: white;
    padding: 20px 60px 20px;
    background-color: rgb(68, 125, 230);
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.alt-button:disabled {
    text-decoration: none;
    color: rgb(138, 138, 138);
    padding: 20px 60px 20px;
    background-color: rgb(95, 95, 95);
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.alt-button-profile {
    padding: 10px 20px 10px;
    border-radius: 5px;
    background-color: rgb(83, 85, 255);
    border: none;
    outline: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 30px;
    margin-left: 621px;
    font-weight: 900;
}
.acctset h2{
    color: #383737;
}




.login a{
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px;
    background-color: rgb(68, 125, 230);
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.logout a {
    text-decoration: none;
    color: white;
    padding: 7px 10px 7px;
    background-color: rgb(230, 63, 63);
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}


.results-container-alt {
    resize: none;
    margin-bottom: 30px;
    width: 750px;
    height: auto;
    font-size: 18px;
    padding-left: 0px;
    padding-top: 40px;
    margin-left: 20px;
}

.results-container-imgcap {
    resize: none;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 750px;
    height: auto;
    font-size: 18px;
    padding-left: 0px;
    padding-top: 40px;

    margin-left: 20px;
}

.imagecap-container {
    resize: none;
    margin-bottom: 30px;
    border-radius: 5px; 
    width: 750px;
    height: auto;
    font-size: 18px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 20px;


}

.alt-title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: #4d4d4d;
    position: relative; 
    margin-left: 10px;

}

.alt-title::after {
    margin-bottom: -5px;
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 9px;
    width: calc(93% - 0px); 
    height: 2px;
    background-color: rgb(214, 214, 214); 
    margin-left: 10px;
}



.imagecap-title {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: #4d4d4d;
    margin-left: 10px;
    position: relative; 
    font-size: 15px;
    font-weight: 900;

}

.imagecap-title::after {
    margin-bottom: -5px;
    content: ""; 
    position: absolute;
    bottom: 0;
    left: -10px;
    width: calc(93% - 0px); 
    height: 2px; 
    background-color: rgb(214, 214, 214); 
    margin-left: 10px; 
}


.results {
    margin-left: 40px;
    margin-top: 5px;
    font-family: serif;
    font-size: 17px;
}

.results textarea{
    text-decoration: none;
    outline: none; 
    border: none;
    background-color: rgb(239, 241, 250);
}

.results input {
    text-decoration: none;
    outline: none; 
    border: none;
    background-color: rgb(239, 241, 250);

    font-family: serif;
    font-size: 17px;
}

.imgcap_alt {
    background-color: rgb(239, 241, 250);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 0px 0px;
    border-radius: 0px;
    border: 2px solid rgb(206, 206, 206);

}

.uploadbutton {
    display: grid;
    gap: 250px;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    margin-left: -70px;
}

.uploadbutton input {
    width: 250px;
}

.model-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.mainlog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(218, 218, 218);
    width: 350px;
    margin: 0px auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.log-container{
    color: black;
}

.login-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}





.password-editor{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: left;
}

.pass-set {
    text-align: left;
    margin-left: -210px;
    color: #383737;
}


.logbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logsign a{
    text-decoration: none;
    color: #646464;
    font-size: 15px;
}

.logsign2 a {
    text-decoration: none;
    color: #646464;
    font-size: 15px;
}

.logsign2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.logsign {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-signup-container {
    width: 350px;
    height: auto;
    border: 2px solid rgb(218, 218, 218);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.page-list {
    display: flex;
    justify-content: center;
    font-size: large;
    gap: 25px;
}

.page-list a {
    padding: 8px 15px 8px 15px;
    border-radius: 8px;
}

.curr-page a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
}


.other-page a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.signup-header {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #212530;
    font-size: 19px;
    gap: 0px;
    margin-bottom: 30px;
}

.signup-header > * {
    margin: 0;
    padding: 0; 
}

.signup-header span {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color:#535353;
}
.signup-header h2 {
    font-weight: 900;
}

.signin-header {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #212530;
    font-size: 19px;
    gap: 0px;
    margin-bottom: 30px;
}

.signin-header > * {
    margin: 0;
    padding: 0; 
}

.signin-header span {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color:#535353;
}
.signin-header h2 {
    font-weight: 900;
}

.signuser {
    display: flex;
    flex-direction: column;
}
.signuser label {
    font-size: 14px;
    color: #383737;
    margin-top: 20px;
    font-weight: 600;
}

.signuser input {
    height: 30px;
    width: 255px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    color: #616060;
    padding-left: 8px;
}


.signbutton button{
    margin-left: 0px;
    margin-top: 20px;
    padding: 10px 108px 10px;
    border-radius: 5px;
    background-color: rgb(68, 125, 230);
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
}   


.logbutton button{
    margin-left: 0px;
    margin-top: 20px;
    padding: 10px 112px 10px;
    border-radius: 5px;
    background-color: rgb(68, 125, 230);
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
}   

.greet span{
    margin-left: 40px;
    margin-right: 50px;
    color: #eed9a0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.greet2 span{
    margin-left: 40px;
    margin-right: 50px;
    color: #d3a629;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hsub2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.titlecont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titlecont img {
    width: 30px;
    height: auto;
}



.getstarted {
    color: rgb(71, 68, 68);
}
.getstarted a{
    text-decoration: none;
    color: #575252;
}

.returnhome2 a{
    text-decoration: none;
    color: #524f4f;                                                
    font-size: 15px;

}

.returnhome2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.returnhome a{
    text-decoration: none;
    color: #524f4f;                                                
    font-size: 15px;

}

.returnhome {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.requirements ul li {
    color: rgb(59, 59, 59);
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;

}

.signuser .requirements {
    max-height: 0;
    transition: max-height 1.5s ease-out;
    overflow: hidden;
}

.signuser input:focus + .requirements,
.signuser input:active + .requirements {
    max-height: 2000px;
    transition: max-height 1.5s ease-in;
}

.main-profile {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 250);
    margin: 50px auto; 
    width: 1100px; 
    max-width: 90%; 
    border-radius: 5px;
    outline: 2px solid rgb(218, 218, 218);
    box-sizing: border-box; 
}

.main-profile input {
    height: 30px;
    width: 254px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.main-profile label {
    font-size: 14px;
    margin: 5px;
    color: #383737;
}


.profile-editor {
    margin-bottom: 50px;
}

.whitebg {
    background-color: rgb(239, 241, 250);
    padding: 20px 20px 20px;
    border-radius: 10px;
    margin: 120px 0px 0px;
    border-radius: 15px;
    margin-right: 50px;
}

.whitebg2 {
    background-color: rgb(239, 241, 250);
    padding: 30px 20px 100px;
    border-radius: 10px;
    margin: 120px 0px 0px;
    border-radius: 15px;
}

.groupa, .groupb {
    display: flex;
    flex-direction: row;
}


.groupa1, .groupa2, .groupb1, .groupb2 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.groupb1, .groupb2 {
    margin-bottom: 50px;
}

.profile-logo {
    margin-right: 600px;
}

.groupb3 {
    margin-bottom: 50px;
}

/* TEMPORARY CSS - JOSH ADDONS */

#getalttext {
    padding-top: 15px;
    border-width: 0px 0px 1px 0px;
    width: 700px;
    height: 50px;
}

#getcaption {
    padding-top: 15px;
    border-width: 0px 0px 1px 0px;
    width: 700px;
    height: 15px;
}

#getalttext:focus {
    outline: none
}

#getcaption:focus {
    outline: none
}


.savecopy-btn-imgcap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.savecopy-btn-alt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon2-alt {
    margin-right: 30px;
}

.icon1-alt {
    margin-right: 0px;
}

.icon2-imgcap {
    margin-right: 50px;
}

.icon1-imgcap {
    margin-right: 0px;
}

.icon1-alt-dashboard  button{
    all: unset;
    background-color: none;
    margin-right: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.icon2-alt-dashboard button {
    all: unset;
    background-color: none;
    /* margin-top: -3px; */
    cursor: pointer;

}
.results-title-alt {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 900;
}

.dash-main-container {
    display: flex;
    flex-direction: column;
}


table {
    width: auto;
    height: auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
    outline: 2px solid rgb(216, 216, 216);
    font-family: "Roboto", sans-serif;
    margin-left: 190px;
    margin-right: 190px;
}


th {
    padding: 12px 16px;
    background-color: rgb(249, 250, 255);
    color: #4b4b4b;
    text-align: left;
    border-bottom: 1px solid #adadad; 
    text-align: center;

}


td {
    padding: 30px 15px;
    background-color: #fff;
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}


.caption-table, .alt-table {
    width: 25%;
}



.caption-table, .alt-table {
    word-wrap: break-word;
}

.label-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    
}

.dashboard-id {
    margin-top: -4px;
    margin-right: 15px;
}

.dashboard-checkbox {
    margin-top: -1px;
}

.delete-button button {
    padding: 10px 30px 10px;
    background-color: rgb(255, 44, 44);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}
thead th {
    background-color: #fffbfb;
    color: #4d4d4d;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

.dashboard-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lower-th {
    background-color: rgb(145, 145, 145); 
}



.details-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 1000px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(202, 202, 202);
}

.white-profile-box-username {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(231, 231, 231);
    padding: 50px 100px 10px;
    position: relative;
    width: 500px;
    height: auto;
}

.white-profile-box-userinfo {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(231, 231, 231);
    padding: 50px 100px 10px;
    position: relative;
    width: 500px;
    height: auto;
}


.profile-subtitle {
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    margin-top: -18px;
    padding: 0;
}

.profile-title {
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.selected-dashboard {
    font-size: small;
    color: #777777;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 190px;
}

.search-button-dashboard {
    display: flex;
    flex-direction: row;
}

.searchbar-dashboard input{
    padding: 10px 20px 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
    border: 1px solid rgb(219, 219, 219);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    border-right: none;

}

.searchbutton-dashboard button {
    padding: 10px 10px 8px;
    border: none;
    background-color: rgb(83, 85, 255);
    color: rgb(255, 255, 255);
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 900;
}

.refresh-dashboard button {
    padding: 10px 10px 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: rgb(83, 85, 255);
    margin-left: 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 900;
}

.generated-list-container {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.highlight-dashboard {
    background-color: yellow;
    color: black;
}

.dashboard-id-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-checkbox-admin{
    margin-left: 15px;
}

.edit-admin {
    color: rgb(235, 97, 97);
    cursor: pointer;
}

.invalid-login {
    background-color: #ffcccc; 
    color: #cc0000; 
    border: 1px solid #cc0000;
    padding: 3px 0px 3px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 12px;

    display: none;
}

.no-bullet {
    list-style: none !important;
    margin-right: 5px;
}

.forget-remember-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 265px;
    font-size: 14px;
}

.remember-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}